<!DOCTYPE html>
<html lang="en">

<head>
    <title>ABOUT</title>
    <meta name="viewport" content="width=device-width, initial-scale = 1">
    <link rel="stylesheet" href="{{url_for('static',filename='display.css')}}" />
    <link rel="icon" href="{{url_for('static',filename='eye.png')}}" type="image/png">

    <style>
        body {
            background-image: url("/static/Aboutb.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
        }
    </style>
</head>

<body>
    <div class="righttopcontainer">
        <a href="{{url_for('home')}}"><button class="glow-on-hover">HOME</button></a
      >
    </div>
    <div>
      <h1 style="font-family: cursive">CREATED BY CODING TITANS</h1>
      <br />
      <h2 style="font-style: italic; font-family:'Times New Roman', Times, serif">
        We created this website as our mini project and our mission is to build a website that can be used
        for facial emotion detection. Since we know the pain of gathering good data and data annotation, we
        added two extra features to make these tasks easier for the people who works on facial emotion
        classification and face detection.  
      </h2>
      <br />
      <br />
      <br />
      <h2 style="font-family: cursive">
        TEAM
      </h2>
      <h2 style="font-style: italic; font-family: 'Courier New', Courier">
        PRUDHVIRAJU CHEKURI
      </h2>
      <h2 style="font-style: italic; font-family: 'Courier New', Courier">
        PAVAN KALYAN KANTE
      </h2>
      <h2 style="font-style: italic; font-family: 'Courier New', Courier">
        ABHINAY VARMA CHILUVURI
      </h2>
      <h2 style="font-style: italic; font-family: 'Courier New', Courier">
        YESWANTH DADI
      </h2>
      <br />
      <br />
      <h2 style="font-style: italic; font-family: 'Courier New', Courier">
        GAYATRI VIDYA PARISHAD COLLEGE OF ENGINEERING
      </h1>
    </div>
  </body>
</html>